<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivangy.marsroversphotos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/mars_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LastSearches"></activity>
        <activity android:name=".activity.MyImagesActivity" />
        <activity android:name=".activity.GeolocationActivity" />
        <activity
            android:name=".activity.NasaWebsiteActivity"
            android:allowTaskReparenting="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.PhotoInfoActivity"
            android:allowTaskReparenting="true"
            android:parentActivityName=".activity.RecyclerPhotosActivity" />
        <activity
            android:name=".activity.RecyclerPhotosActivity"
            android:allowTaskReparenting="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDgaxvkHV3AC7gKZsxS_qrJWJJjvRlDZQ" />
    </application>

</manifest>